 .dialog-pane{
	-fx-background-color: #2C2C3E;
 }

/**Customization of The Bar where the buttons are located**/

.dialog-pane .label {
	-fx-text-fill: WHITE;
	-fx-background-color: #2C2C3E;
	-fx-font-family: roboto light;
	-fx-font-size: 14px;
}

/**Customization of DialogPane Header**/
.dialog-pane:header .header-panel {
	-fx-background-color: #2C2C3E;
}

.dialog-pane:header .header-panel .label{
	-fx-text-fill: WHITE;
	-fx-text-fill: WHITE;
	-fx-background-color: #2C2C3E;
	-fx-font-family: roboto light;
	-fx-font-size: 18px;
}


/**Customization of Buttons**/
.dialog-pane .button{
	-fx-font-size: 13px;
    -fx-font-family: roboto light;
	-fx-text-fill: WHITE;
    -fx-background-color: #2C2C3E;
 }

.dialog-pane .button:hover{
    -fx-background-color: #384E92;
 }

 .dialog-pane .text-field{
    -fx-background-color: #2C2C3E;
 	-fx-border-color: #221B3C;
 	-fx-font-family: roboto light;
 	-fx-font-size: 13px;
 	-fx-text-fill: white;
 }

 .dialog-pane .button-bar .container{
    -fx-background-color: #2C2C3E;
    -fx-border-color: #221B3C;
 }