.rollover-button {
	-fx-font-size: 16px;
    -fx-font-family: roboto light;
	-fx-text-fill: WHITE;
    -fx-background-color: transparent;
}
.rollover-button:hover {
    -fx-background-color: #384E92;
}
.separator {
	-fx-background-color: WHITE;
}
.rollover-button-small {
	-fx-font-size: 13px;
    -fx-font-family: roboto light;
	-fx-text-fill: WHITE;
    -fx-background-color: transparent;
}
.rollover-button-small:hover {
    -fx-background-color: #384E92;
}
.pane-main{
	-fx-background-color: #2C2C3E;
}

.label {
	-fx-text-fill: WHITE;
	-fx-background-color: transparent;
	-fx-font-family: roboto light;
	-fx-font-size: 16;
}
.label-small {
	-fx-text-fill: WHITE;
	-fx-background-color: transparent;
	-fx-font-family: roboto light;
	-fx-font-size: 13;
}
